/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/* Fonts */
/* Fonts */
@font-face {
  font-family: 'journalregular';
  src: url("../css/fonts/journal-webfont.eot");
  src: url("../css/fonts/journal-webfont.eot?#iefix") format("embedded-opentype"), url("../css/fonts/journal-webfont.woff2") format("woff2"), url("../css/fonts/journal-webfont.woff") format("woff"), url("../css/fonts/journal-webfont.ttf") format("truetype"), url("../css/fonts/journal-webfont.svg#journalregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Colors */
.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 48.75%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left {
    margin-right: 2.5%; }

/* Algemeen */
.logo-img img {
  width: 100%; }

.region-branding-inner {
  width: 100%;
  float: left; }

/* Home */
.field-collection-item-field-wie-zijn-wij .group-middle {
  padding: 0;
  border-bottom: 1px solid;
  padding-bottom: 90px;
  margin-bottom: 50px;
  width: 50%;
  float: left; }
.field-collection-item-field-wie-zijn-wij .group-left {
  width: 25%;
  float: left; }
.field-collection-item-field-wie-zijn-wij .group-right {
  width: 25%;
  float: right; }

.block-diensten-dienst-frontpage-block .views-row {
  width: 25%;
  text-align: center;
  float: left;
  margin-bottom: 0; }
.block-diensten-dienst-frontpage-block .views-row-2 {
  background: url("img/line.png") no-repeat scroll top 34% center transparent;
  background-size: 100% 6px; }
.block-diensten-dienst-frontpage-block .views-row-1 {
  background: url("img/line.png") no-repeat scroll right 34%;
  background-size: 60% 6px; }
.block-diensten-dienst-frontpage-block .views-row-3 {
  background: url("img/line.png") no-repeat scroll top 34% center transparent;
  background-size: 100% 6px; }
.block-diensten-dienst-frontpage-block .views-row-4 {
  background: url("img/line.png") no-repeat scroll left 34%;
  background-size: 60% 6px; }

.view-display-id-dienst_frontpage_block .views-field-field-image {
  margin-bottom: 20px; }

/* Contactpagina */
.node-webform {
  margin-left: 10%; }
  .node-webform .group-left {
    width: 40%; }
    .node-webform .group-left img {
      margin-bottom: 0;
      width: 80%; }
  .node-webform .group-right {
    width: 40%; }

#zone-postscript #region-postscript-first iframe {
  height: 300px; }

/* Slideshow */
.views-slideshow-controls-bottom {
  left: 42%;
  right: 42%; }

/* Over ons */
#block-views-about-block .group-second, #block-views-about-block .group-third {
  width: 20%;
  float: left; }
#block-views-about-block .group-first, #block-views-about-block .group-fourth {
  width: 30%;
  float: left; }
#block-views-about-block .group-header, #block-views-about-block .group-footer {
  width: 60%;
  margin: 0 auto;
  font-weight: 300;
  padding-bottom: 30px; }
#block-views-about-block .field-name-field-naam, #block-views-about-block .field-name-field-over {
  text-align: left; }
#block-views-about-block .field-name-field-naam2, #block-views-about-block .field-name-field-over2 {
  text-align: left; }

/* Menu */
.block-superfish-2 h2.block-title, .block-superfish-3 h2.block-title {
  margin-left: 10px;
  margin-top: 0; }
.block-superfish-2 ul li, .block-superfish-3 ul li {
  margin-left: 10px; }

.view-home-banner .field-name-field-tekst {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 45px;
  font-family: "journalregular", Arial, sans-serif;
  text-shadow: 1px 1px 1px #050505;
  bottom: 2%;
  right: 2%;
  width: 30%; }
.view-home-banner a {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 50; }
.view-home-banner .bottom {
  width: 121px;
  height: 62px;
  position: relative;
  text-align: center;
  left: -50%;
  background-image: url("img/bottom.png");
  background-size: 100%; }

.views-field-field-banners .field-name-field-tekst {
  position: absolute;
  color: #fff;
  font-size: 27px;
  font-family: "journalregular", Arial, sans-serif;
  bottom: 2%;
  right: 2%;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #050505; }

/*# sourceMappingURL=default-alpha-default-narrow.css.map */
