/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
@import 'variables';

/* Over ons */
#block-views-about-block {
  margin-bottom:0!important;
  .group-second, .group-third {
    border-bottom:1px dashed;
    padding-bottom:30px;
  }
}

.views-field-field-banners {
  .field-name-field-tekst {
    font-size: 45px;
    bottom: 2%;
    right: 2%;
    width: 30%;
  }
}

#zone-postscript {
  #region-postscript-first {
    .region-postscript-first-inner {
      width:100%;
      margin:0 auto;
    }
  }
}

/* menu */
.block-superfish-1 {
  float:right;
  width:100%;
  ul {
    float:right;
  }
}