/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Fonts */
/* Colors */
body {
  font-size: 100%;
  font-family: "Lato", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Lato", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link, div {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

/* Fonts */
@font-face {
  font-family: 'journalregular';
  src: url("fonts/journal-webfont.eot");
  src: url("fonts/journal-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/journal-webfont.woff") format("woff"), url("fonts/journal-webfont.ttf") format("truetype"), url("fonts/journal-webfont.svg#journalregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Algemeen */
body {
  background-color: #94d600; }

.page {
  width: 99.4%; }

#zone-branding-wrapper {
  width: 99.4%; }

p {
  margin-bottom: 0;
  font-size: 0.938em; }

.zone-footer-wrapper {
  padding: 25px 0; }

.admin-menu .is-sticky .zone-branding-wrapper {
  top: 29px !important; }
.admin-menu .zone-branding-wrapper {
  top: 28px; }

.zone-branding-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997; }

.zone-content-wrapper {
  padding: 50px 0;
  background-color: #fff; }

.zone-postscript-second-wrapper {
  padding: 0 0 50px 0;
  background-color: #fff; }

/* Header */
#zone-header {
  width: 100%; }
  #zone-header #region-header-first {
    width: 100%;
    margin: 0; }

.zone-branding-wrapper {
  background-color: #fff;
  padding: 50px 0 20px 0; }

.view-home-banner .field-name-field-tekst {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  color: #fff;
  font-size: 45px;
  font-family: 'journalregular', Arial, sans-serif; }
.view-home-banner .bottom {
  width: 121px;
  height: 62px;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  right: 50%;
  background-image: url("img/bottom.png"); }

.views-field-field-banners .field-name-field-tekst {
  position: absolute;
  color: #fff;
  font-size: 45px;
  font-family: 'journalregular', Arial, sans-serif;
  bottom: 2%;
  right: 2%;
  width: 30%;
  text-align: center; }

/* Menu */
.block-superfish-1 {
  float: right; }
  .block-superfish-1 ul li a {
    font-family: "Lato", sans-serif;
    font-size: 0.938em;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin: 32px 55px 0 0;
    border-top: 3px solid transparent;
    padding-top: 5px; }
  .block-superfish-1 ul li a:hover {
    color: #94d600; }
  .block-superfish-1 ul li a.active {
    color: #000;
    border-top: 3px solid #94d600; }

.block-superfish-2 {
  float: left;
  color: #000;
  width: 100%;
  margin: 0;
  padding-bottom: 10px; }
  .block-superfish-2 h2.block-title {
    margin-bottom: 10px;
    text-transform: none;
    float: left;
    width: 100%;
    margin-left: 10px; }
  .block-superfish-2 ul li {
    margin: 0;
    width: 100%;
    margin-left: 10px; }
    .block-superfish-2 ul li a {
      color: #000;
      font-size: 0.938em;
      padding: 4px 0;
      font-weight: 400; }
    .block-superfish-2 ul li a.active {
      color: #94d600; }

/* Contactpagina */
#zone-postscript {
  width: 100%; }
  #zone-postscript #region-postscript-first {
    width: 100%;
    margin: 0; }
    #zone-postscript #region-postscript-first iframe {
      width: 100%;
      height: 300px; }

.node-webform {
  margin-left: 10%; }
  .node-webform .group-left {
    width: 40%; }
    .node-webform .group-left img {
      float: left;
      width: 80%; }
    .node-webform .group-left .field-name-field-body {
      margin-bottom: 30px; }
  .node-webform .group-right {
    width: 40%; }
    .node-webform .group-right input[type="text"], .node-webform .group-right input[type="email"], .node-webform .group-right textarea {
      width: 100%;
      border: 2px solid #8d8d8d;
      border-radius: 0; }
    .node-webform .group-right input[type="submit"] {
      background: #8d8d8d;
      border-radius: 0px;
      color: #fff;
      font-weight: 300;
      text-transform: uppercase; }
    .node-webform .group-right h2 {
      font-size: 0.938em;
      font-weight: 700; }

/* Footer */
.zone-footer-wrapper {
  color: #fff; }
  .zone-footer-wrapper a {
    color: #fff; }
  .zone-footer-wrapper li {
    display: block; }
    .zone-footer-wrapper li a {
      color: #fff; }
  .zone-footer-wrapper h2 {
    font-size: 0.938em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px; }

/* Home */
.field-collection-item-field-wie-zijn-wij .field-name-field-title {
  font-size: 18px;
  color: #94d600;
  text-align: center; }
.field-collection-item-field-wie-zijn-wij .field-name-field-title-text {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 25px; }
.field-collection-item-field-wie-zijn-wij .field-name-field-bodys {
  text-align: center; }
.field-collection-item-field-wie-zijn-wij .field-name-field-medewerker2 img, .field-collection-item-field-wie-zijn-wij .field-name-field-medewerker1 img {
  width: 60%;
  margin: 0 auto; }
.field-collection-item-field-wie-zijn-wij .field-name-field-naam2, .field-collection-item-field-wie-zijn-wij .field-name-field-naam {
  text-align: center; }
.field-collection-item-field-wie-zijn-wij .field-name-field-telefoon2, .field-collection-item-field-wie-zijn-wij .field-name-field-telefoon {
  text-align: center;
  font-size: 12px; }
  .field-collection-item-field-wie-zijn-wij .field-name-field-telefoon2 .field-item:before, .field-collection-item-field-wie-zijn-wij .field-name-field-telefoon .field-item:before {
    content: 'TEL:';
    color: #94d600;
    padding-right: 2%;
    font-weight: 400; }
.field-collection-item-field-wie-zijn-wij .field-name-field-mobiel2, .field-collection-item-field-wie-zijn-wij .field-name-field-mobiel {
  text-align: center;
  font-size: 12px;
  font-weight: 300; }
  .field-collection-item-field-wie-zijn-wij .field-name-field-mobiel2 .field-item:before, .field-collection-item-field-wie-zijn-wij .field-name-field-mobiel .field-item:before {
    content: 'MOB:';
    color: #94d600;
    padding-right: 2%;
    font-weight: 400; }
.field-collection-item-field-wie-zijn-wij .group-middle {
  border-bottom: 1px solid;
  padding-bottom: 90px;
  margin-bottom: 50px; }

.block-diensten-dienst-frontpage-block .views-row {
  width: 33.3%;
  text-align: center;
  float: left; }
.block-diensten-dienst-frontpage-block h2.block-title {
  text-align: center;
  color: #94d600;
  font-weight: 400; }
.block-diensten-dienst-frontpage-block .view-header {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px; }

.view-display-id-dienst_frontpage_block {
  width: 75%;
  margin: 0 auto; }
  .view-display-id-dienst_frontpage_block .views-field-field-image {
    margin-bottom: 20px; }
  .view-display-id-dienst_frontpage_block a {
    color: #000; }

/*# sourceMappingURL=global.css.map */
