/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import 'variables';
@import 'default-style';




/* Algemeen */
body {
  background-color:$green;
}

.page {
  width:99.4%;
}

.logo-img {
  width:100%;
  margin:0 auto;
  margin-top:10px;
  img {
    width:50%;
  }
}

#zone-branding-wrapper {
  width:99.4%;
}

p {
  margin-bottom:0;
  font-size:16px;
}

h2.block-title {
  font-size: 24px;
  color: #94d600;
  text-align: center;
}

.zone-footer-wrapper {
  padding:25px 0;
}

.admin-menu{
  .is-sticky {
    .zone-branding-wrapper{
      top: 29px !important;
    }
  }
  .zone-branding-wrapper{
    top: 28px;
  }
}

.zone-branding-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 997;
}

.zone-content-wrapper {
  padding:50px 0;
  background-color:#fff;
}

.zone-postscript-second-wrapper {
  padding:0 0 50px 0;
  background-color:#fff;
}


/* Header */
#zone-header {
  width:100%;
  #region-header-first {
    width:100%;
    margin:0;
  }
}

.zone-branding-wrapper {
  background-color: #fff;
  padding: 30px 0 30px 0;
}

.view-home-banner {
  .field-name-field-tekst {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color:#fff;
    font-size:45px;
    font-family: $journal;
  }
  .bottom {
    width: 121px;
    height: 62px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-image:url('img/bottom.png');
    z-index:3;
  }
}

.views-field-field-banners {
  .field-name-field-tekst {
    position: absolute;
    color: #fff;
    font-size: 27px;
    font-family: "journalregular", Arial, sans-serif;
    bottom: 2%;
    right: 2%;
    width: 100%;
    text-align: center;
  }
}


/* Menu */
.block-superfish-1 {
  float:right;
  ul {
    li {
      a {
        font-family:$font;
        font-size:0.938em;
        color:#000;
        text-transform:uppercase;
        font-weight:700;
        margin: 32px 55px 0 0;
        border-top:4px solid transparent;
        padding-top:10px;
      }
      a:hover {
        color:$green;
      }
      a.active {
        color:#000;
        border-top:4px solid $green;
        padding-top:10px;
      }
      a.notactive {
        border-top:4px solid transparent;
        padding-top:10px;
      }
    }
  }
}

.block-superfish-2,.block-superfish-3  {
  float: left;
  color: #000;
  width: 100%;
  margin: 0;
  padding-bottom:10px;
  h2.block-title {
    margin-bottom: 10px;
    text-transform: none;
    float: left;
    width: 100%;
    margin-left: 10px;
  }
  ul {
    li {
      margin: 0;
      width: 100%;
      margin-left:10px;
      a {
        color: #000;
        font-size: 0.938em;
        padding: 4px 0;
        font-weight: 400;
      }
      a.active {
        color:$green;
      }
    }
  }
}

.block-superfish-3  {
  ul {
    li {
      a {
        color:#fff;
      }
      a.active {
        color:#fff;
      }
    }
  }
}

/* Contactpagina */
#zone-postscript {
  width:100%;
  #region-postscript-first {
    width:100%;
    margin:0;
    iframe {
      width:100%;
      height:200px;
    }
  }
}

.node-webform {
  margin-left:0%;
  .group-left {
    width:100%;
    img {
      float:left;
      width:80%;
      margin-bottom:20px;
    }
    .field-name-field-body {
      margin-bottom:30px;
    }
  }
  .group-right {
    width:100%;
    input[type="text"], input[type="email"], textarea {
      width:100%;
      border: 2px solid #8d8d8d;
      border-radius:0;
    }
    input[type="submit"] {
      background: #8d8d8d;
      border-radius: 0px;
      color:#fff;
      font-weight:300;
      text-transform:uppercase;
    }
    h2 {
      font-size:24px;
      font-weight:700;
    }
  }
}

/* Footer */
.zone-footer-wrapper {
  color:#fff;
  a {
    color:#fff;
  }
  li {
    display:block;
    a {
      color:#fff;
    }
  }
  h2 {
    font-size:24px;
    color:#fff;
    text-transform:uppercase;
    margin-bottom:10px;
    text-align:left;
    font-weight:300;
  }
}

/* Home */

.field-collection-item-field-wie-zijn-wij {
  .field-name-field-title {
    font-size: 24px;
    color: $green;
    text-align: center;
  }
  .field-name-field-title-text {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin-bottom:25px;
  }
  .field-name-field-bodys {
    text-align:center;
  }
  .field-name-field-medewerker2, .field-name-field-medewerker1 {
    img {
      width:60%;
      margin:0 auto;
      margin-bottom:10px;
    }
  }
  .field-name-field-naam2, .field-name-field-naam {
    text-align:center;
  }
  .field-name-field-telefoon2, .field-name-field-telefoon {
    text-align:center;
    font-size:15px;
    .field-item:before {
      content:'TEL:';
      color:$green;
      padding-right:2%;
      font-weight:400;
    }
  }
  .field-name-field-mobiel2, .field-name-field-mobiel {
    text-align:center;
    font-size:15px;
    font-weight:300;
    .field-item:before {
      content:'MOB:';
      color:$green;
      padding-right:2%;
      font-weight:400;
    }
  }
  .group-middle {
    width: 80%;
    float: none;
    margin: 0 auto;
    padding:30px 0;
  }
  .group-left {
    width:80%;
    float:none;
    margin:0 auto;
  }
  .group-right {
    width:80%;
    float:none;
    margin:0 auto;
  }
}

.block-diensten-dienst-frontpage-block {
  .views-row {
    width: 100%;
    text-align: center;
    float:none;
    margin-bottom:30px;
  }
  h2.block-title {
    text-align:center;
    color:$green;
    font-weight:400;
  }
  .view-header {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-bottom:30px;
  }
}

.view-display-id-dienst_frontpage_block {
  width:75%;
  margin:0 auto;
  .views-field-field-image {
    margin-bottom:10px;
  }
  a {
    color:#000;
  }
}

/* Slideshow  */


.views-slideshow-controls-bottom {
  position: absolute;
  bottom: 0;
  z-index: 999;
  left: 40%;
  right: 40%;
}


.widget_pager .views-slideshow-pager-field-item {
  width: 15px;
  height: 15px;
  display: block;
  background: #fff;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  float:left;
  margin:7%;

}

.widget_pager .active {
  background: $green;
}

.widget_pager .views-content-counter:hover {
  background: $green;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

#block-views-home-banner-block {
  img {
    max-width:100%;
    margin:0 auto;
  }
  .views-field-field-banner-home {
    overflow:hidden;
    img {
      max-width:none;
    }
  }
}

/* Over ons */
#block-views-about-block {
  margin-bottom:50px!important;
  .group-second, .group-third {
    margin-bottom:30px;
    width:100%;
    float:left;
  }
  .group-first, .group-fourth {
    width:100%;
    float:left;
  }
  .field-name-field-naam, .field-name-field-over {
    text-align:center;
  }
  .field-name-field-naam2, .field-name-field-over2 {
    text-align:center;
  }
  .view-header {
    text-align:center;
    font-weight:300;
    margin-bottom:30px;
  }
}

h2.about {
  color:$green;
  margin-bottom:0;
}

h3.rtecenter.about {
  font-weight: 300;
  font-size: 24px;
}